# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.nx/self-healing
.angular

/apps/mobile
.pnpm-store/

.husky/_/
**/.next
**/dist
apps/web/next-env.d.ts
**/.agents/
